<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038588735855-qvt0ekm8gf7s89amtikrc0jtgisgmmu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038588735855-qvt0ekm8gf7s89amtikrc0jtgisgmmu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDn0P4MVmGehBDBPEXqjunKBGHyYsa7tyg</string>
	<key>GCM_SENDER_ID</key>
	<string>1038588735855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gauramargMobile</string>
	<key>PROJECT_ID</key>
	<string>gauramarg-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>gauramarg-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038588735855:ios:76de2cc468d1dfad44b89a</string>
</dict>
</plist>